.columns > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  word-break: break-word;
}

.columns > div:not(:last-child) {
  margin-bottom: var(--spacing-medium);
}


.columns > div > div h1,
.columns > div > div h2,
.columns > div > div h3,
.columns > div > div h4,
.columns > div > div h5,
.columns > div > div h6 {
  margin-top: 0;
}

.columns > div > div p:not(:last-child) {
  margin-bottom: 10px;
}

.columns.columns-top-padding-large {
  margin-top: 25px;
}

.columns.column-left-aligned > div {
  text-align: left;
}

.columns.column-center-aligned > div {
  text-align: center;
}

.columns.column-img-center-aligned .columns-img-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.columns.column-mobile-reverse > div {
  flex-direction: column-reverse;
}

.columns.column-img-rounded-corner > div img {
  border-radius: var(--spacing-xsmall);
}

.columns.column-rounded-corner > div > div {
  border-radius: 20px;
}

.columns.column-bg-color-gray > div > div {
  background-color: var(--c-gray-lt);
}

.columns.column-bg-color-white > div > div {
  background-color: var(--c-white);
}

.columns.column-padding-large > div > div {
  padding: var(--spacing-medium) var(--spacing-small);
}

.columns.column-padding-medium > div > div {
  padding: var(--spacing-xsmall) var(--spacing-small);
}

.columns.column-padding-small > div > div {
  padding: var(--spacing-xsmall) var(--spacing-small);
}

.columns.column-padding-xsmall > div > div {
  padding: var(--spacing-xsmall) var(--spacing-small);
}

.columns.icons-for-li > div ul {
  list-style-type: none;
  padding-left: 0;
}

.columns.icons-for-li > div li {
  align-items: center;
  line-height: 28px;
  margin: 24px 0 0;
  padding-bottom: 20px;
  position: relative;
  padding-left: 54px;
}

.columns.icons-for-li > div li::before {
  content: url("../../icons/list-tag-icon.svg");
  display: inline-block;
  height: 30px;
  margin-right: 19px;
  width: 30px;
  position: absolute;
  left: 0;
}

.columns.icons-for-li > div li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;height: 1px; background: linear-gradient(135deg, var(--c-secondary-pink) 0%, var(--c-primary-lt) 51.1%, var(--c-secondary-orange-lt) 100%);
}

.columns.column-box-shadow > div > div {
  box-shadow: 0 6px 8px 0 rgb(0 0 0 / 10%);
}

.columns.column-links-color-secondary > div a {
  color: var(--c-copy);
}

.columns.column-links-color-secondary > div a:hover,
.columns.column-links-color-secondary > div a:focus {
  color: var(--c-mega-menu-link);
}

.columns.column-download .columns-img-col {
  position: relative;
}

.columns.column-download .columns-img-col .download-btn {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.columns.aspect-ratio-4-3 .columns-img-col img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (width >= 985px) {
  .columns > div {
    align-items: center;
    flex-direction: row;
  }

  .columns > div > div {
    flex: 1;
  }

  .columns.column-gap-large > div {
    gap: 125px;
  }

  .columns.column-gap-medium > div {
    gap: 64px;
  }

  .columns.column-separator > div {
    gap: unset;
  }

  .columns.column-top-aligned > div {
    align-items: normal;
  }

  .columns.columns-top-padding-large {
    margin-top: 50px;
  }

  .columns.column-mobile-reverse > div {
    flex-direction: row;
  }

  .columns.column-padding-large > div > div {
    padding: var(--spacing-xlarge);
  }

  .columns.column-padding-medium > div > div {
    padding: var(--spacing-medium);
  }

  .columns.column-padding-small > div > div {
    padding: var(--spacing-small);
  }

  .columns.column-padding-xsmall > div > div {
    padding: var(--spacing-xsmall);
  }

  .columns.column-separator > div > div:not(:first-child) {
    border-left: 1px solid var(--c-gray-border);
  }

  .columns.columns-2.two-column-3-7 > div > div:first-child {
    flex: 30%;
  }

  .columns.columns-2.two-column-3-7 > div > div:last-child {
    flex: 70%;
  }

  .columns.columns-2.two-column-4-6 > div > div:first-child {
    flex: 40%;
  }

  .columns.columns-2.two-column-4-6 > div > div:last-child {
    flex: 60%;
  }

  .columns.columns-2.two-column-6-4 > div > div:first-child {
    flex: 60%;
  }

  .columns.columns-2.two-column-6-4 > div > div:last-child {
    flex: 40%;
  }

  .columns.columns-2.two-column-7-3 > div > div:first-child {
    flex: 70%;
  }

  .columns.columns-2.two-column-7-3 > div > div:last-child {
    flex: 30%;
  }

  .columns.column-download .columns-img-col .download-btn {
    bottom: 10px;
  }
}