/* stylelint-disable property-no-vendor-prefix */
/* Primary */
a.button,
button {
  appearance: none;
  background: linear-gradient(123deg, #304f8c 4.85%, #466cb9 43.45%, #304f8c 54.85%, #283f6f 86.9%);
  background-position: left;
  background-size: 300%;
  border: none;
  border-radius: 4px;
  color: var(--c-white);
  cursor: pointer;
  display: inline-block;
  font-family: var(--ff-primary);
  font-size: var(--base-font-size);
  font-weight: var(--fw-med);
  line-height: 1;
  margin: var(--spacing-xsmall) 0;
  padding: var(--spacing-xsmall) var(--spacing-medium);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--base-transition);
}

/* Primary Light */
.primary-lt a.button,
.primary-lt button,
.primary-lt-icon a.button,
.primary-lt-icon button {
  background: var(--c-blue-gradient-lt);
  color: var(--c-btn-drk);
}

/* Secondary */
.secondary a.button,
.secondary button,
.secondary-icon a.button,
.secondary-icon button {
  background: transparent;
  border: 2px solid var(--c-copy);
  color: var(--c-copy);
  font-style: normal;
  padding: 14px 30px;
}

/* Secondary Light */
.secondary-lt a.button,
.secondary-lt button,
.secondary-lt-icon a.button,
.secondary-lt-icon button {
  background: transparent;
  border: 2px solid var(--c-disabled-bg);
  color: var(--c-disabled-bg);
  padding: 14px 30px;
}

/* With Icon */
.primary-icon a.button,
.primary-icon button,
.primary-lt-icon a.button,
.primary-lt-icon button,
.secondary-icon a.button,
.secondary-icon button,
.secondary-lt-icon a.button,
.secondary-lt-icon button {
  padding-right: 54px;
}

/* Tertiary */
.tertiary a,
.tertiary button,
.tertiary-lt a,
.tertiary-lt button,
.tertiary-underline a,
.tertiary-underline button,
.tertiary-lt-underline a,
.tertiary-lt-underline button {
  background: transparent;
  color: var(--c-link);
  font-family: var(--ff-secondary);
  font-size: var(--body-font-size-l);
  font-weight: var(--fw-regular);
  line-height: var(--base-line-height);
  padding: var(--spacing-micro) var(--spacing-xxsmall);
  text-transform: none;
}

/* Tertiary Light */
.tertiary-lt a,
.tertiary-lt button,
.tertiary-lt-underline a,
.tertiary-lt-underline button {
  color: var(--c-link-lt);
}

/* Tertiary w/ Underline */
.tertiary-underline a,
.tertiary-underline button,
.tertiary-lt-underline a,
.tertiary-lt-underline button {
  text-decoration: underline;
}

/* Primary States */
a.button:active,
button:active {
  background: var(--c-btn-drk);
  outline: none;
}

a.button:focus,
a.button:hover,
button:focus,
button:hover {
  background-position: right;
}

a.button:focus,
button:focus {
  outline: 2px solid var(--c-outline-drk);
  outline-offset: 2px;
}

a.button.disabled,
a.button.disabled:hover,
button:disabled,
button:disabled:hover {
  background: var(--c-disabled);
  color: var(--c-disabled-copy);
  cursor: not-allowed;
  pointer-events: none;
}

.primary-lt a.button:active,
.primary-lt button:active,
.primary-lt-icon a.button:active,
.primary-lt-icon button:active {
  background: var(--c-blue-gradient-lt-active);
}

.primary-lt a.button:focus,
.primary-lt a.button:hover,
.primary-lt button:focus,
.primary-lt button:hover,
.primary-lt-icon a.button:focus,
.primary-lt-icon a.button:hover,
.primary-lt-icon button:focus,
.primary-lt-icon button:hover {
  background: var(--c-blue-gradient-lt-hover);
}

.primary-lt a.button:focus,
.primary-lt button:focus,
.primary-lt-icon a.button:focus,
.primary-lt-icon button:focus {
  outline: 2px solid var(--c-outline-lt);
}

/* Secondary States */
.secondary a.button:active,
.secondary button:active,
.secondary-icon a.button:active,
.secondary-icon button:active {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: rgba(223 225 230 / 70%);
}

.secondary a.button:focus,
.secondary a.button:hover,
.secondary button:focus,
.secondary button:hover,
.secondary-icon a.button:focus,
.secondary-icon a.button:hover,
.secondary-icon button:focus,
.secondary-icon button:hover {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: rgba(255 255 255 / 70%);
}

.secondary a.button:focus,
.secondary button:focus,
.secondary-icon a.button:focus,
.secondary-icon button:focus {
  outline: 2px solid var(--c-copy);
}

.secondary-lt a.button:active,
.secondary-lt button:active,
.secondary-lt-icon a.button:active,
.secondary-lt-icon button:active {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: rgba(223 225 230 / 80%);
}

.secondary-lt a.button:focus,
.secondary-lt a.button:hover,
.secondary-lt button:focus,
.secondary-lt button:hover,
.secondary-lt-icon a.button:focus,
.secondary-lt-icon a.button:hover,
.secondary-lt-icon button:focus,
.secondary-lt-icon button:hover {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: rgba(255 255 255 / 60%);
  border: 2px solid var(--c-disabled-bg);
  color: var(--c-copy);
}

.secondary-lt a.button:focus,
.secondary-lt button:focus,
.secondary-lt-icon a.button:focus,
.secondary-lt-icon button:focus {
  outline: 2px solid var(--c-disabled-bg);
}

.primary-icon a.button::after,
.primary-icon button::after,
.primary-lt-icon a.button::after,
.primary-lt-icon button::after,
.secondary-icon a.button::after,
.secondary-icon button::after,
.secondary-lt-icon a.button::after,
.secondary-lt-icon button::after {
  content: var(--icon-chevron-down);
  font-family: var(--ff-pricefx-icons);
  font-size: calc((14 / 16) * 1rem);
  font-weight: var(--fw-bold);
  position: absolute;
  top: 16px;
  right: 32px;
}

.secondary-icon a.button::after,
.secondary-icon button::after,
.secondary-lt-icon a.button::after,
.secondary-lt-icon button::after {
  top: 13px;
}

/* Tertiary Arrow Paddings */
.tertiary.left-arrow a,
.tertiary.left-arrow button,
.tertiary-lt.left-arrow a,
.tertiary-lt.left-arrow button,
.tertiary-underline.left-arrow a,
.tertiary-underline.left-arrow button,
.tertiary-lt-underline.left-arrow a,
.tertiary-lt-underline.left-arrow button {
  padding-left: 38px;
}

.tertiary.right-arrow a,
.tertiary.right-arrow button,
.tertiary-lt.right-arrow a,
.tertiary-lt.right-arrow button,
.tertiary-underline.right-arrow a,
.tertiary-underline.right-arrow button,
.tertiary-lt-underline.right-arrow a,
.tertiary-lt-underline.right-arrow button {
  padding-right: 38px;
}

/* Tertiary States */
.tertiary.left-arrow a::before,
.tertiary.left-arrow button::before,
.tertiary-lt.left-arrow a::before,
.tertiary-lt.left-arrow button::before,
.tertiary-underline.left-arrow a::before,
.tertiary-underline.left-arrow button::before,
.tertiary-lt-underline.left-arrow a::before,
.tertiary-lt-underline.left-arrow button::before {
  content: var(--icon-arrow-left);
  font-family: var(--ff-pricefx-icons);
  font-size: calc((24 / 16) * 1rem);
  position: absolute;
  left: 5px;
}

.tertiary.right-arrow a::after,
.tertiary.right-arrow button::after,
.tertiary-lt.right-arrow a::after,
.tertiary-lt.right-arrow button::after,
.tertiary-underline.right-arrow a::after,
.tertiary-underline.right-arrow button::after,
.tertiary-lt-underline.right-arrow a::after,
.tertiary-lt-underline.right-arrow button::after {
  content: var(--icon-arrow-right);
  font-family: var(--ff-pricefx-icons);
  font-size: calc((24 / 16) * 1rem);
  position: absolute;
  right: 5px;
}

.tertiary a:active,
.tertiary a:focus,
.tertiary a:hover,
.tertiary button:active,
.tertiary button:focus,
.tertiary button:hover,
.tertiary-lt a:active,
.tertiary-lt a:focus,
.tertiary-lt a:hover,
.tertiary-lt button:active,
.tertiary-lt button:focus,
.tertiary-lt button:hover,
.tertiary-underline a:active,
.tertiary-underline a:focus,
.tertiary-underline a:hover,
.tertiary-underline button:active,
.tertiary-underline button:focus,
.tertiary-underline button:hover,
.tertiary-lt-underline a:active,
.tertiary-lt-underline a:focus,
.tertiary-lt-underline a:hover,
.tertiary-lt-underline button:active,
.tertiary-lt-underline button:focus,
.tertiary-lt-underline button:hover {
  background: transparent;
  font-weight: var(--fw-lt-bold);
}

.tertiary a:active,
.tertiary button:active,
.tertiary-underline a:active,
.tertiary-underline button:active {
  color: var(--c-gray-drk);
  outline: none;
}

.tertiary a:focus,
.tertiary button:focus,
.tertiary-underline a:focus,
.tertiary-underline button:focus {
  border: 2px solid var(--c-link);
  outline: 2px solid var(--c-link);
  outline-offset: 2px;
}

.tertiary-lt a:active,
.tertiary-lt button:active,
.tertiary-lt-underline a:active,
.tertiary-lt-underline button:active {
  color: var(--c-gray);
}

.tertiary-lt a:focus,
.tertiary-lt button:focus,
.tertiary-lt-underline a:focus,
.tertiary-lt-underline button:focus {
  border: 2px solid var(--c-link-lt);
  outline: 2px solid var(--c-link-lt);
}

/* stylelint-disable no-descending-specificity */
/* Disabled Styles */
.primary-lt a.button.disabled,
.primary-lt-icon a.button.disabled,
.primary-lt button:disabled,
.primary-lt-icon button:disabled,
.primary-lt a.button.disabled:hover,
.primary-lt-icon a.button.disabled:hover,
.primary-lt button:disabled:hover,
.primary-lt-icon button:disabled:hover {
  background: var(--c-disabled-bg);
}

.secondary a.button.disabled,
.secondary-icon a.button.disabled,
.secondary button:disabled,
.secondary-icon button:disabled,
.secondary a.button.disabled:hover,
.secondary-icon a.button.disabled:hover,
.secondary button:disabled:hover,
.secondary-icon button:disabled:hover {
  background: var(--c-disabled-bg);
  border: 2px solid var(--c-disabled);
}

.secondary-lt a.button.disabled,
.secondary-lt-icon a.button.disabled,
.secondary-lt button:disabled,
.secondary-lt-icon button:disabled,
.secondary-lt a.button.disabled:hover,
.secondary-lt-icon a.button.disabled:hover,
.secondary-lt button:disabled:hover,
.secondary-lt-icon button:disabled:hover {
  background: var(--c-disabled-bg);
  border: 2px solid var(--c-disabled);
  color: var(--c-gray-drk);
}

.tertiary a.disabled,
.tertiary-underline a.disabled,
.tertiary button:disabled,
.tertiary-underline button:disabled,
.tertiary a.disabled:hover,
.tertiary-underline a.disabled:hover,
.tertiary button:disabled:hover,
.tertiary-underline button:disabled:hover {
  background: transparent;
  color: var(--c-gray-drk);
  cursor: not-allowed;
  pointer-events: none;
}

.tertiary-lt a.disabled,
.tertiary-lt-underline a.disabled,
.tertiary-lt button:disabled,
.tertiary-lt-underline button:disabled,
.tertiary-lt a.disabled:hover,
.tertiary-lt-underline a.disabled:hover,
.tertiary-lt button:disabled:hover,
.tertiary-lt-underline button:disabled:hover {
  background: transparent;
  color: var(--c-gray-med);
  cursor: not-allowed;
  pointer-events: none;
}

.button-pfx.tertiary:has(a.disabled),
.button-pfx.tertiary:has(button:disabled),
.button-pfx.tertiary-lt:has(a.disabled),
.button-pfx.tertiary-lt:has(button:disabled),
.button-pfx.tertiary-underline:has(a.disabled),
.button-pfx.tertiary-underline:has(button:disabled),
.button-pfx.tertiary-lt-underline:has(a.disabled),
.button-pfx.tertiary-lt-underline:has(button:disabled) {
  display: inline-block;
  position: relative;
}

.button-pfx.tertiary:has(a.disabled),
.button-pfx.tertiary:has(button:disabled),
.button-pfx.tertiary-underline:has(a.disabled),
.button-pfx.tertiary-underline:has(button:disabled) {
  color: var(--c-gray-drk);
}

.button-pfx.tertiary-lt:has(a.disabled),
.button-pfx.tertiary-lt:has(button:disabled),
.button-pfx.tertiary-lt-underline:has(a.disabled),
.button-pfx.tertiary-lt-underline:has(button:disabled) {
  color: var(--c-gray-med);
}

.button-pfx.tertiary:has(a.disabled)::before,
.button-pfx.tertiary:has(button:disabled)::before,
.button-pfx.tertiary-lt:has(a.disabled)::before,
.button-pfx.tertiary-lt:has(button:disabled)::before,
.button-pfx.tertiary-underline:has(a.disabled)::before,
.button-pfx.tertiary-underline:has(button:disabled)::before,
.button-pfx.tertiary-lt-underline:has(a.disabled)::before,
.button-pfx.tertiary-lt-underline:has(button:disabled)::before {
  background: var(--c-gray-drk);
  content: '';
  display: inline-block;
  height: 2px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 100%;
}

.button-pfx.tertiary-lt:has(a.disabled)::before,
.button-pfx.tertiary-lt:has(button:disabled)::before,
.button-pfx.tertiary-lt-underline:has(a.disabled)::before,
.button-pfx.tertiary-lt-underline:has(button:disabled)::before {
  background: var(--c-gray-med);
}
